* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

body {
    background: #ffffff;
    padding: 20px;
    color: #4b2e1f;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    opacity: 0.9;
    margin-bottom: 10px;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: #4b2e1f;
}

.menu-list {
    margin-top: 50px;
    padding: 14px;
    border-radius: 12px;
    /* background-image: radial-gradient(rgba(212,160,23,0.08) 1px, transparent 1px); */
    background-size: 10px 10px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #8d6e63;
}

.img {
    width: 110px;
}

.text {
    flex: 1;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #4b2e1f;
}

.text span {
    font-size: 20px;
    opacity: 0.7;
}

.price {
    font-size: 28px;
    font-weight: 600;
    color: #4b2e1f;
}

/* Tombol WA */
.order-box {
    text-align: center;
    margin-top: 40px;
}

.order-box p {
    font-size: 16px;
    opacity: 0.7;
}

#btnWa {
    margin-top: 10px;
    padding: 12px 40px;
    font-size: 22px;
    border: none;
    border-radius: 35px;
    background: #d4a017;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#btnWa:hover {
    transform: scale(1.08);
    background: #e6b21a;
}

/* Responsif */
@media (max-width: 600px) {
    .item {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .img {
        width: 150px;
        margin-bottom: 10px;
    }

    .text {
        margin: 0;
    }

    .price {
        margin-top: 8px;
    }

    .title {
        font-size: 32px;
    }
}
